/* General button styling */
button {
    margin: 10px;
    border-radius: 2px;
}

/* Styling for the current button (adds a double box shadow) */
button.current {
    box-shadow:
            0 0 0 2px white,   /* Inner white shadow */
            0 0 0 4px black;   /* Outer black shadow */
}

/* Hide the body by default */
body {
    display: none;
}

/* Display the body when the app is active */
body.app-active {
    display: block;
}
